body {
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
}
#image-selector {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 25px;
  z-index: 1;
}
#image-selector img {
  height: 75px;
  border: 10px;
  padding: 10px;
}

#image-background {
  height: 100vh;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
@media (min-width: 750px) {
  body {
    background-color: blue;
  }
  #image-background {
    min-height: 100vh;
    cursor: grab;
  }
}

@media (min-width: 900px) {
  body {
    background-color: seagreen;
  }
}
